[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
wheel = "*"

mock = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
pytest-dotenv = "*"

pylint = "*"
flake8 = "*"
flake8-mypy = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
bandit = "*"
#black = "*"

[packages]
awscfncli2 = {editable = true,path = "."}

[requires]

[pipenv]
#allow_prereleases = true
